aclocal.m4
autom4te.cache
config.log
config.status
configure
INSTALL
install-sh
Makefile
Makefile.in
missing

bin/
install/
packages/

*.gz
*.bz2
*.zip

.*

*.mdb

*.netmodule
*.exe
*.dll

*.exe.config
*.dll.config
